#editorWrap {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    box-sizing: border-box;
    padding-left: 3px;
    border-color: #ccc;
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

#sandbox {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    border: 1px solid #ccc;
}

#editor {
    margin: 0;
    width: 100%;
    height: 100%;
}

#editorContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#editorContainer.selectorVisible {
    top: 27px;
}

#fiddleSelectorDiv {
    position: absolute;
    top: 0;
    height: 24px;
    left: 0;
    right: 0;
    padding: 1px;
    border-bottom: 1px solid #333333;
}

.label {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    background-color: rgba(230, 230, 230, 0.8);
    color: #aaa;
    z-index: 999;
    text-align: right;
    font-size: 1em;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
}

.label > div {
    /*flex: 1 1 auto;*/
}

.normal {
    color: #333;
    font-size: 0.8em;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
}

select {
    font-size: 0.8em;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}

#fiddleSelector select {
    color: #333;
}

#output {
    position: absolute;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    color: #333;
    padding-left: 0.5em;
    padding-top: 0.2em;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    text-rendering: optimizeLegibility;
}

body, pre {
    overflow: hidden;
    background-color: #ffffff;
    color: #B3B8BC;
}

pre.error {
    color: #822;
}

a:link {
    color: #46BDDF;
}

a:visited {
    color: #E57255;
}

html, body, #spinner-holder {
    height: 100%;
    width: 100%;
}

#spinner-holder {
    display: table;
}

.ace-line {
    white-space: nowrap;
}

.ace_editor {
    font-size: 14px;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    text-rendering: optimizeLegibility;
}

.label svg {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

svg {
    shape-rendering: geometricPrecision;
}

#run-icon svg {
    fill: lime;
    fill-opacity: 0;
    stroke: hsla(360, 0%, 63%, 1);
    stroke-width: 1;
}

#run-icon.active svg {
    animation-name: blink;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#run-icon:hover svg {
    animation-name: blink;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#reset-icon {
    transition: fill 0.3s ease;
    fill: hsla(360, 0%, 63%, 1);
}

#reset-icon:hover {
    fill: hsla(360, 100%, 51%, 1);
}

#upload-icon {
    transition: fill 0.3s ease;
    fill: hsla(0, 0%, 63%, 1);
}

#upload-icon:hover {
    fill: hsla(0, 0%, 15%, 1);
}

#help-icon {
    transition: fill 0.3s ease;
    fill: hsla(232, 0%, 63%, 1)
}

#help-icon:hover {
    fill: hsla(232, 100%, 50%, 1)
}

@keyframes blink {
    0% {
        fill-opacity: 0;
    }
    100% {
        fill-opacity: 1;
    }
}
