#outer {
}

.label {
    background-color: rgba(230, 230, 230, 0.8);
    color: #aaa;
}

.normal {
    color: #333;
}

#fiddleSelector select {
    color: #333;
}

#editorwrapper {
    border-color: #ccc;
}
#sandbox {
    border-color: #ccc;
}

#output {
    color : #333;
}

#fiddleSelectorDiv {
    border-bottom-color: #666;
}

body, pre {
    background-color: #ffffff;
    color: #B3B8BC;
}

pre.error {
    color: #822;
}

a:link {
    color: #46BDDF;
}

a:visited {
    color: #E57255;
}

#run-icon svg {
    fill: lime;
    stroke: hsla(360, 0%, 63%, 1);
}

#reset-icon {
    fill: hsla(360, 0%, 63%, 1);
}

#reset-icon:hover {
    fill: hsla(360, 70%, 51%, 1);
}

#upload-icon {
    fill: hsla(0, 0%, 63%, 1);
}

#upload-icon:hover {
    fill: hsla(0, 0%, 40%, 1);
}

#share-icon {
    fill: hsla(0, 0%, 63%, 1);
}

#share-icon:hover {
    fill: hsla(0, 0%, 40%, 1);
}

#help-icon {
    fill: hsla(232, 0%, 63%, 1)
}

#help-icon:hover {
    fill: hsla(232, 100%, 75%, 1)
}

.color-red { color: #E95065; }
.color-blue { color: #46BDDF; }
.color-green { color: #52D273; }
.color-yellow { color: #E5C453; }
.color-orange { color: #E57255; }
