.top {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

body > svg {
    display: none;
    height: 0;
    width: 0;
}

header {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    flex: 0 0 35px;
    align-items: center;
    padding: 5px;
    box-shadow: 0 0 8px rgba(66, 66, 86, .5);
    z-index: 999;
    justify-content: space-between;
}

.left {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    flex: 1;
    align-items: center;
}

.right {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.icon svg {
    margin-right: 5px;
}

.icon .button {
    color: #888;
    font-size: 0.8rem;
}

.logo {
}

.main {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1;
}

#editorWrap {
    margin: 0;
    flex: 1;
    box-sizing: border-box;
    padding-left: 3px;
}

#sandbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 0 solid;
}

#sandbox iframe {
    flex-grow: 1;
}

#editor {
    margin: 0;
    width: 100%;
    height: 100%;
}

#editorContainer.selectorVisible {
    top: 27px;
}

#fiddleSelectorDiv {
    padding: 1px;
    display: flex;
    align-items: center;
}

.label {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0.5em;
    background-color: rgba(230, 230, 230, 0.5);
    border-radius: 15%;
    color: #aaa;
    z-index: 999;
    text-align: right;
    font-size: 0.8em;
    font-family: Lato, "Helvetica Neue", Arial, Verdana, Tahoma, "Lucida Sans", FreeSans, "Lucida Sans Unicode", "Luxi Sans", sans-serif;
}

.label > div {
    /*flex: 1 1 auto;*/
}

.sharebox {
    display: none;
    position: absolute;
    top: 15px;
    right: 35px;
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 4px 2px 43px -13px rgba(0, 0, 0, 0.75);
    padding: 1em;
    z-index: 999;
}

.sharebox div {
    margin-bottom: 5px;
}

.header {
    margin-bottom: 5px;
    font-size: 1.0em;
    color: #333;
}

.smallheader {
    margin-top: 15px;
    font-size: 0.7em;
}

.sharebox input {
    padding: 0 5px;
    height: 34px;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 13px;
    width: 100%;
}

.sharebox button {
    padding: 5px 10px;
    height: 34px;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #337ab7;
    background-color: #337ab7;
    font-family: Lato, "Helvetica Neue", Arial, Verdana, Tahoma, "Lucida Sans", FreeSans, "Lucida Sans Unicode", "Luxi Sans", sans-serif;;
    font-size: 14px;
    color: #fff;
}

.normal {
    color: #333;
    font-size: 0.8em;
    font-family: Lato, "Helvetica Neue", Arial, Verdana, Tahoma, "Lucida Sans", FreeSans, "Lucida Sans Unicode", "Luxi Sans", sans-serif;;
}

select {
    font-size: 1.0em;
}

#fiddleSelector select {
    color: #333;
}

#output {
    position: absolute;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    color: #333;
    padding-left: 0.5em;
    padding-top: 0.2em;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    text-rendering: optimizeLegibility;
}

body, pre {
    overflow: hidden;
    background-color: #ffffff;
    color: #878787;
}

pre.error {
    color: #822;
}

a:link {
    color: #46BDDF;
}

a:visited {
    color: #E57255;
}

html, body, #spinner-holder {
    height: 100%;
    width: 100%;
}

#spinner-holder {
    display: table;
}

.ace-line {
    white-space: nowrap;
}

.ace_editor {
    font-size: 14px;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    text-rendering: optimizeLegibility;
}

.label svg {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

svg {
    shape-rendering: geometricPrecision;
}

.icon:hover {
    cursor: pointer;
}

#run-icon svg {
    fill: lime;
    fill-opacity: 0;
    stroke: hsla(360, 0%, 63%, 1);
    stroke-width: 1;
}

#run-icon.active svg {
    animation-name: blink;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#run-icon:hover svg {
    animation-name: blink;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#reset-icon {
    transition: fill 0.3s ease;
    fill: hsla(360, 0%, 63%, 1);
}

#reset-icon:hover {
    fill: hsla(360, 100%, 51%, 1);
}

#upload-icon {
    transition: fill 0.3s ease;
    fill: hsla(0, 0%, 63%, 1);
}

#upload-icon:hover {
    fill: hsla(0, 0%, 15%, 1);
}

#share-icon {
    transition: fill 0.3s ease;
    fill: hsla(0, 0%, 63%, 1);
}

#share-icon:hover {
    fill: hsla(0, 0%, 15%, 1);
}

#help-icon {
    transition: fill 0.3s ease;
    fill: hsla(232, 0%, 63%, 1)
}

#help-icon:hover {
    fill: hsla(232, 100%, 50%, 1)
}

@keyframes blink {
    0% {
        fill-opacity: 0;
    }
    100% {
        fill-opacity: 1;
    }
}

@media only screen and (max-device-width: 640px) {
    select {
        font-size: 1.0em;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
